{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-5">Ласкаво просимо до нашого магазину!</h1>
                    <p class="card-text">Ми - онлайн магазин з Європи, розташований у Чернівцях, Україна. У нашому магазині ви знайдете широкий асортимент різноманітних товарів з Європи.</p>
                    <div class="accordion mt-4" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Характеристики магазину
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Місцезнаходження: Чернівці, Україна</li>
                                        <li>Тип магазину: Онлайн магазин</li>
                                        <li>Спосіб доставки: Нова Пошта</li>
                                        <li>Система платежів: Різноманітна (оплата карткою, готівкою при отриманні, онлайн-платежі, оплата через банківський переказ)</li>
                                        <li>Асортимент товарів: Одяг, взуття, аксесуари, косметика, побутова техніка, електроніка, іграшки, товари для дому та багато іншого</li>
                                        <li>Всі товари оригінальні та сертифіковані</li>
                                        <li>Швидка обробка замовлень та доставка по всій Україні</li>
                                        <li>Гнучка система знижок та акцій</li>
                                        <li>Приємний сервіс та швидке вирішення будь-яких питань</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-6 mb-4">
                            <div class="card h-100 border-0">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <img src="https://poletehnika.com.ua/image/catalog/e-mag/landing/np-logomark-red.png" class="img-fluid rounded-start" alt="Картинка 1">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Нова Пошта</h5>
                                            <p class="card-text">Нова пошта — це українська компанія з експрес-доставки, заснована 2001 року. Її мета — забезпечувати легку доставку для кожного клієнта — до відділення, поштомату або за адресою.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100 border-0">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Укр пошта</h5>
                                            <p class="card-text">«Укрпошта» — єдиний національний оператор поштового зв’язку України. Ми надаємо поштові, логістичні, фінансові й торговельні послуги для приватних осіб та корпоративних клієнтів.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="https://share.cdn.viber.com/pg_download?id=0-04-04-002bb633eb55d145fd764d2a0f67974ce855c1cc497adccf0f0c6c647834469c&filetype=jpg&type=icon" class="img-fluid rounded-end" alt="Картинка 2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100 border-0">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <img src="https://yt3.googleusercontent.com/ytc/AIdro_mYIhGWaAoVlgwvg5ItTA1fBCYvOFZr6UPVWNFHd5VwvA=s900-c-k-c0x00ffffff-no-rj" class="img-fluid rounded-start" alt="Картинка 3">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Meest</h5>
                                            <p class="card-text">Meest – міжнародна група компаній, яка з 1989 надає поштово-логістичні послуги у 40 країнах світу, серед яких: Україна, США, Канада, Німеччина, Великобританія, Франція, Італія, Іспанія, Греція, Португалія, Чехія, Польща, Китай, Казахстан, Грузія, Узбекистан, Вірменія, Азербайджан, Ізраїль та інші.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100 border-0">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Кур'єрська доставка</h5>
                                            <p class="card-text">Безкоштовна доставка на партнерські відділення та поштомат. На відділення замовлення на сумму від 1500 грн доставляються безкоштовно. Курє'рська адресна доставка – за рахунок отримувача.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="https://kuryer.net/wp-content/uploads/2020/09/asagi.png" class="img-fluid rounded-end" alt="Картинка 4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Додамо анімацію під час розгортання/згортання акордеону
    var accordions = document.querySelectorAll('.accordion-button');

    accordions.forEach(function(accordion) {
        accordion.addEventListener('click', function() {
            var collapse = this.parentElement.nextElementSibling;
            if (!collapse.classList.contains('show')) {
                collapse.classList.add('collapsing');
                setTimeout(function() {
                    collapse.classList.remove('collapsing');
                    collapse.classList.add('collapse', 'show');
                }, 300);
            } else {
                collapse.classList.remove('show');
                collapse.classList.add('collapsing');
                setTimeout(function() {
                    collapse.classList.remove('collapsing');
                    collapse.classList.add('collapse');
                }, 300);
            }
        });
    });
</script>

{% endblock %}
